body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}
p {
    color: white;
}
h3 {
    color: white;
}
ol {
    color: white;
}
li {
    color: white;
}
ul {
    color:white;
}
a {
    color: white;
}

div {
    text-align: center;
}